body {
  background-color: lightcoral;
  background-image: url(./bg-intro-desktop.png);
}
.rightbox {
  grid-template-columns: 270px;
  grid-template-rows: 78px;
  font-size: large;
  margin: 150px 200px 0px 50px;
}
.purplebox {
  background-color: blueviolet;
  border-radius: 3px;
  max-width: 1600px;
  height: 30px;
  text-align: center;
  font-size: small;
  padding-top: 10px;
}
.whitebox {
  background-color: white;
  padding: 30px;
  margin: 10px 0 300px 0;
  width: 300px;
  height: 190px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.details {
  margin: 5px 5px 5px 5px;
  box-sizing: border-box;
  width: 290px;
  height: 25px;
}
.button {
  background-color: green;
  text-align: center;
  font-size: 13px;
  width: 295px;
  height: 25px;
}
.leftbox {
  float: left;
  font-size: x-large;
  transform: translateY(50%);
}
.rightbox {
  float: left;
  font-size: x-large;
}
::-webkit-input-placeholder {
  /* Chrome */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}
.terms {
  color: red;
}
.conditions {
  font-size: xx-small;
}
@media (width: 260px) {
  body {
    text-align: center;
  }
  .rightbox {
    align-items: center;
  }
}
